.container-nav,
.container-main-header {
  padding: 28px 28px;
}

.menu-icon {
  display: none;
}
header {
  background-image: url(./images/cover.svg);
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.header-title {
  color: #252b42;
  font-size: 58px;
  font-family: Martel;
  font-weight: 700;
  padding-top: 52px;
  margin-bottom: 0px;
}
.header-sub-desc {
  display: none;
  text-align: left;
}

.header-subtitle {
  color: #737373;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 40px 0px 35px 0px;
}

.bg-brown {
  background-color: #784f33;
}

.bg-blue {
  background-color: #295c7a;
}

.header-btn-1 {
  border-radius: 37px;
  font-weight: 700;
  padding: 10px 36px;
  margin-bottom: 35px;
}

.header-btn-2 {
  border-radius: 37px;
  border: 1px solid #784f33;
  color: #784f33;
  font-weight: 700;
  padding: 10px 36px;
  margin-bottom: 80px;
}

.header-card {
  height: 242px;
  width: 328px;
  margin: auto;
  margin-bottom: 30px;
}
.header-card-title-desc {
  display: none;
}
.client-matters-sub p {
  width: 50%;
  padding-bottom: 75px;
  margin: 0px;
}

.client-matter-title {
  font-size: 40px;
  width: 60%;
}

.client-matter-card {
  width: 230px;
  height: 202px;
  margin-bottom: 30px;
}
.client-matter-card h5 {
  font-size: 16px;
}
.practice-advice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.practice-advice-text-h2 {
  font-size: 40px;
  font-weight: 700;
  color: #252b42;
  max-width: 200px;
}
.practice-advice-text-p {
  color: #737373;
  font-size: 14px;
  max-width: 250px;
  padding-bottom: 70px;
}
.practice-advice-card {
  width: 230px;
  height: 317px;
  margin: 0px 20px 30px 0px;
}
.practice-advice-card p {
  min-height: 80px;
  font-size: 14px;
}
.practice-advice-card-img {
  width: 100%;
}
.who-we-are {
  margin-bottom: 143px;
}
.who-we-are-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 81.5px;
}
.who-we-are-container h1 {
  color: #252b42;
  font-size: 40px;
}
.who-we-are-para-left {
  color: #737373;
  font-size: 14px;
  max-width: 230px;
  padding-bottom: 100px;
}
.who-we-are-btn {
  width: 97.6px;
  height: 98.4px;
  border-radius: 73.6px;
  background-color: #295c7a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-card {
  width: 333px;
  height: 442px;
  background-image: url(./images/who-we-are-cover.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are-title {
  color: #252b42;
  font-size: 40px;
  margin: 0px 25px;
  padding-bottom: 10px;
}
.who-we-are-para-right {
  font-size: 14px;
  color: #737373;
  margin: 0px 25px;
  padding-bottom: 50px;
}
.brands,
.get-in-touch,
.client-matters,
.practice-advice {
  background-color: #fafafa;
}
.wraper-subscribe {
  background-color: #fafafa;
}
.subscribe {
  background-color: #295c7a;
  padding: 33px 0px;
}
.subscribe-title {
  font-size: 24px;
  font-family: Martel;
}
.subscribe-input {
  background-color: #d0a144;
}
.get-in-touch {
  background-color: #f3f3f3;
}
.get-in-touch-title {
  color: #252b42;
  font-size: 40px;
  margin-top: 25px;
}
.get-in-touch-para {
  width: 60%;
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat;
  color: #737373;
}
.get-in-touch-card-white {
  height: 333px;
}
.get-in-touch-card-blue {
  background: linear-gradient(#295C7A 100%, #7a8388 100% );
  height: 393px;
}
.get-in-touch-btn {
  border: 1px solid #d0a144;
  color: #d0a144;
}
.footer-section1-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-section1 h3 {
  color: #252b42;
  font-family: Martel;
  font-size: 24px;
  font-weight: bold;
  max-width: 200px;
}
.footer-section1 p {
  color: #737373;
  font-size: 14px;
  padding-bottom: 34px;
  max-width: 200px;
}
.footer-section1-btn {
  background-color: #784f33;
  font-size: 14px;
  margin-bottom: 24px;
  padding: 15px 40px 15px 40px;
}

.footer-section2-wraper-text a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}
.font-size-title {
  font-size: 16px;
}
.font-size-sub {
  font-size: 14px;
}
.footer-section3 h6 {
  max-width: 220px;
  text-align: start;
  font-size: 14px;
  color: #737373;
}
@media only screen and (min-width: 768px) {
  .search-icon,
  .shopping-cart-icon {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .header-title {
    font-weight: 900;
    text-align: left;
  }
  .header-sub-mobile {
    display: none;
  }

  .header-sub-desc {
    display: block;
  }
  .header-btn-1,
  .header-btn-2 {
    display: flex;
    flex-direction: column;
  }
  .header-card-title-desc {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
  }
  .header-card-title-mobile {
    display: none;
  }
  .header-card {
    width: auto;
  }
  .practice-advice-text-h2 {
    max-width: 768px;
  }
  .practice-advice-text-p {
    max-width: 500px;
  }
  .who-we-are-para-left {
    max-width: 500px;
  }
  .who-we-are-card {
    width: 597px;
  }
  .wraper-subscribe {
    background-color: #252b42;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  .subscribe {
    position: absolute;
    width: 75%;
    bottom: 50px;
  }
  .get-in-touch-para {
    width: 40%;
  }
  .get-in-touch-card-white {
    width: 100%;
  }
  .get-in-touch-card-blue {
    width: 100%;
    position: relative;
    bottom: 35px;
  }
  .footer-section1 h3,
  .footer-section1 p {
    max-width: 768px;
  }
  .footer-section1-text {
    display: block;
  }
  .footer-section1-btn-wraper {
    text-align: end !important;
  }
  .footer-section3 h6 {
    max-width: 768px;
  }
}
